<div class="col-6">
  <div class="d-flex" >
    <input #txtBuscar class="form-control me-2" (keyup)="buscar()"  type="search" placeholder="ingrese " aria-label="Search">
    <button class="btn btn-outline-success" (click)="buscar()" type="button">buscar</button>
  </div>
</div>
<div class="col-12">
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">PostId</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Cuerpo</th>
      </tr>
    </thead>
    <tbody>
      @for (item of commentListFiltrado; track item.id) {
        <tr>
          <th scope="row">{{item.postId}}</th>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.body}}</td>
        </tr>
      }


    </tbody>
  </table>

</div>

